@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --dark-background-color: #2f303a;
  --greyish-background-color: #afb1b8;
  --light-background-color: #c4c4c4;
  --lighter-background-color: #f5f4fa;
  --line-color: #ececec;
  --transition-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

label,
input {
  display: block;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.19;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #000000;
  margin-right: 93px;
}

.logo__prefix {
  color: var(--accent-color);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.icon {
  display: block;
  fill: currentColor;
}

.button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.social {
  color: var(--primary-white-color);
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social-icons__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  color: var(--greyish-background-color);
  text-decoration: none;
  outline: none;
  -webkit-transition: color var(--transition-cubic), background-color var(--transition-cubic);
  transition: color var(--transition-cubic), background-color var(--transition-cubic);
}

.social-icons__link:hover,
.social-icons__link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social-icons__link--white {
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.branches {
  padding-top: 0;
  padding-bottom: 94px;
}

.branches__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.branches__item {
  position: relative;
}

.branches__item:not(:last-child) {
  margin-right: 30px;
}

.branches__text {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.clients__link {
  height: 92px;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--greyish-background-color);
  border: 1px solid var(--greyish-background-color);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color var(--transition-cubic), color var(--transition-cubic);
  transition: border-color var(--transition-cubic), color var(--transition-cubic);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  width: calc((100% - 90px) / 4);
}

.features__item:not(:nth-of-type(4n + 4)) {
  margin-right: 30px;
}

.features__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--lighter-background-color);
  width: 270px;
  height: 120px;
}

.features__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}

.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 70px;
}

.signup-form__input {
  width: 358px;
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  -webkit-transition: border-color var(--transition-cubic);
  transition: border-color var(--transition-cubic);
}

.signup-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.signup-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.signup-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.signup-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.signup-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.signup-form__input:focus {
  border: 1px solid var(--accent-color);
}

.signup-form__button {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 28px;
  color: var(--primary-white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.signup-form__icon {
  margin-left: 10px;
}

.signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.footer-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer .link,
.address__link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--transition-cubic);
  transition: color var(--transition-cubic);
}

.address__link--light {
  color: var(--primary-white-color);
}

.address__item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

.address__link:hover,
.address__link:focus,
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.social__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.social__title {
  margin-bottom: 20px;
}

.signup-form__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-form__title {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

.hero-form__input {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 12px 16px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  color: var(--primary-text-color);
  outline: none;
  -webkit-transition: border-color var(--transition-cubic);
  transition: border-color var(--transition-cubic);
}

.hero-form__input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.hero-form__input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.hero-form__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.hero-form__input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.hero-form__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.hero-form__input--large {
  padding-left: 16px;
  height: 120px;
  resize: none;
}

.hero-form__input:focus {
  border-color: var(--accent-color);
}

.hero-form__label {
  position: relative;
  margin-bottom: 28px;
}

.hero-form__label:nth-child(5) {
  margin-bottom: 20px;
}

.hero-form__label:focus-within .hero-form__icon {
  color: var(--accent-color);
}

.hero-form__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  color: var(--title-text-color);
  -webkit-transition: color var(--transition-cubic);
  transition: color var(--transition-cubic);
}

.hero-form__field-name {
  position: absolute;
  display: block;
  top: -18px;
  left: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.hero-form__checkbox-field {
  position: relative;
}

.hero-form__checkbox-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-left: 38px;
  color: var(--primary-text-color);
  fill: var(--primary-white-color);
  margin-bottom: 30px;
  cursor: pointer;
}

.hero-form__link {
  color: var(--accent-color);
}

.hero-form__square {
  width: 16px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: var(--primary-white-color);
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  z-index: 0;
  -webkit-transition: border-color var(--transition-cubic), background-color var(--transition-cubic);
  transition: border-color var(--transition-cubic), background-color var(--transition-cubic);
}

.hero-form__checkbox:focus + .hero-form__square {
  border-color: var(--accent-color);
}

.hero-form__checkbox:checked + .hero-form__square {
  background-color: var(--accent-color);
}

.hero-form__check-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  fill: var(--primary-white-color);
}

.header {
  border-bottom: 1px solid var(--line-color);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon {
  margin-right: 10px;
}

.header .link {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 31px;
}

.site-nav .link {
  color: var(--title-text-color);
  -webkit-transition: color var(--transition-cubic);
  transition: color var(--transition-cubic);
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__link--active::after {
  content: "";
  bottom: -1px;
  left: -2px;
  width: calc(100% + 4px);
  height: 4px;
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 31px;
  text-decoration: none;
  outline: none;
  display: block;
  color: var(--title-text-color);
  -webkit-transition: color var(--transition-cubic);
  transition: color var(--transition-cubic);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--active {
  color: var(--accent-color);
  position: relative;
}

.contacts-nav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav__link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;
  -webkit-transition: color var(--transition-cubic);
  transition: color var(--transition-cubic);
}

.contacts-nav__link:focus,
.contacts-nav__link:hover {
  color: var(--accent-color);
}

.active.link,
.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}

.hero {
  text-align: center;
  background-color: var(--light-background-color);
  margin: 0 auto;
  max-width: 1600px;
}

.hero__container {
  display: block;
}

.hero-overlay__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  max-width: 690px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}

.hero .button,
.hero-form .button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.hero-overlay {
  max-width: 1600px;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  -webkit-transition: opacity var(--transition-cubic), visibility var(--transition-cubic);
  transition: opacity var(--transition-cubic), visibility var(--transition-cubic);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  /* незрозуміла необхідність visibility, якщо вже є opacity */
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform var(--transition-cubic);
  transition: -webkit-transform var(--transition-cubic);
  transition: transform var(--transition-cubic);
  transition: transform var(--transition-cubic), -webkit-transform var(--transition-cubic);
}

.is-hidden .modal {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: color var(--transition-cubic);
  transition: color var(--transition-cubic);
}

.modal__close-btn:hover {
  color: var(--accent-color);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__button {
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--lighter-background-color);
  padding: 6px 22px;
  -webkit-transition: color var(--transition-cubic), background-color var(--transition-cubic), -webkit-box-shadow var(--transition-cubic);
  transition: color var(--transition-cubic), background-color var(--transition-cubic), -webkit-box-shadow var(--transition-cubic);
  transition: color var(--transition-cubic), background-color var(--transition-cubic), box-shadow var(--transition-cubic);
  transition: color var(--transition-cubic), background-color var(--transition-cubic), box-shadow var(--transition-cubic), -webkit-box-shadow var(--transition-cubic);
}

.filter__button:hover,
.filter__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__item {
  width: calc((100% - 60px) / 3);
}

.projects__item:nth-child(-n+6) {
  margin-bottom: 30px;
}

.projects__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow var(--transition-cubic);
  transition: -webkit-box-shadow var(--transition-cubic);
  transition: box-shadow var(--transition-cubic);
  transition: box-shadow var(--transition-cubic), -webkit-box-shadow var(--transition-cubic);
}

.projects__link:hover,
.projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects__img-wrapper {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition-cubic);
  transition: -webkit-transform var(--transition-cubic);
  transition: transform var(--transition-cubic);
  transition: transform var(--transition-cubic), -webkit-transform var(--transition-cubic);
}

.projects__details {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px 19px;
}

.projects__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.projects__type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--lighter-background-color);
}

.team__people-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__people-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__people-item:not(:last-child) {
  margin-right: 30px;
}

.team__details {
  padding: 30px 32px;
}

.team__name {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team__description {
  text-align: center;
  margin-bottom: 16px;
}/*# sourceMappingURL=main.css.map */