html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
}

li {
  list-style: none;
}

label,
input {
  display: block;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --dark-background-color: #2f303a;
  --greyish-background-color: #afb1b8;
  --light-background-color: #c4c4c4;
  --lighter-background-color: #f5f4fa;
  --line-color: #ececec;
  --transition-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.19;
}

.header {
  border-bottom: 1px solid var(--line-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #000000;
  margin-right: 93px;
}

.icon {
  display: block;
  fill: currentColor;
}

.header__icon {
  margin-right: 10px;
}

.footer .logo {
  color: var(--primary-white-color);
}

.signup {
  display: flex;
  flex-direction: column;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  transition: border-color var(--transition-cubic);
}

.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus {
  border: 1px solid var(--accent-color);
}

.signup-button {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 28px;
  color: var(--primary-white-color);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.signup-button .icon {
  margin-left: 10px;
}

.logo span {
  color: var(--accent-color);
}

.link {
  text-decoration: none;
  outline: none;
  display: block;
}

.header .link {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 31px;
}

.site-nav .link {
  color: var(--title-text-color);
  transition: color var(--transition-cubic);
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__link--active::after {
  content: '';
  bottom: -1px;
  left: -2px;
  width: calc(100% + 4px);
  height: 4px;
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 31px;
  text-decoration: none;
  outline: none;
  display: block;
  color: var(--title-text-color);
  transition: color var(--transition-cubic);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--active {
  color: var(--accent-color);
  position: relative;
}

.contacts-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.contacts-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav__link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;
  transition: color var(--transition-cubic);
}

.contacts-nav__link:focus,
.contacts-nav__link:hover {
  color: var(--accent-color);
}

.active.link,
.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover {
  cursor: pointer;
}

.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 70px;
}

.footer .address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: var(--primary-white-color);
}

.footer .link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-cubic);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.signup-form {
  display: flex;
  align-items: end;
}

.footer-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.visually-hidden1 {
  opacity: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.no-top-padding {
  padding-top: 0;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.address .item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.social .title,
.signup-form-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.social .title {
  margin-bottom: 20px;
}

.social {
  color: var(--primary-white-color);
}

.round-wrapper {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  color: var(--greyish-background-color);
  transition: color var(--transition-cubic), background-color var(--transition-cubic);
}

.round-wrapper:hover,
.round-wrapper:focus,
.footer .round-wrapper:hover,
.footer .round-wrapper:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.footer .round-wrapper {
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.social-wrap {
  display: flex;
  gap: 10px;
}

.hero {
  text-align: center;
  background-color: var(--light-background-color);
  margin: 0 auto;
  max-width: 1600px;
}

.hero__container {
  display: block;
}

.hero-overlay__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  max-width: 690px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}

.hero .button,
.hero-form .button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.hero-overlay {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  transition: opacity var(--transition-cubic), visibility var(--transition-cubic);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden; /* незрозуміла необхідність visibility, якщо вже є opacity */
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: transform var(--transition-cubic);
}

.is-hidden .modal {
  transform: scale(0.5);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color var(--transition-cubic);
}

.modal-close-button:hover {
  color: var(--accent-color);
}

.hero-form-title {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

.hero-input {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 12px 16px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  color: var(--primary-text-color);
  outline: none;
  transition: border-color var(--transition-cubic);
}

.hero-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.hero-input.textarea {
  padding-left: 16px;
  height: 120px;
  resize: none;
}

.hero-input:focus {
  border-color: var(--accent-color);
}

.hero-label {
  position: relative;
  margin-bottom: 28px;
}

/* не придумал как красивее */
.hero-label:nth-child(5) {
  margin-bottom: 20px;
}

.hero-label:focus-within .hero-field-icon {
  color: var(--accent-color);
}

.hero-field-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: var(--title-text-color);
  transition: color var(--transition-cubic);
}

.hero-field-name {
  position: absolute;
  display: block;
  top: -18px;
  left: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.checkbox-field {
  position: relative;
}

.checkbox-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-left: 38px;
  color: var(--primary-text-color);
  fill: var(--primary-white-color);
  margin-bottom: 30px;
  cursor: pointer;
}

.checkbox-label a {
  color: var(--accent-color);
}

.square {
  width: 16px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  background-color: var(--primary-white-color);
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  z-index: 0;
  transition: border-color var(--transition-cubic), background-color var(--transition-cubic);
}

.check-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  fill: var(--primary-white-color);
}

.checkbox:focus + .square {
  border-color: var(--accent-color);
}

.checkbox:checked + .square {
  background-color: var(--accent-color);
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.branches .list,
.team .list {
  display: flex;
  flex-wrap: wrap;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  width: calc((100% - 3 * 30px) / 4);
}

.features__item:not(:nth-of-type(4n + 4)) {
  margin-right: 30px;
}

.branches .item:not(:last-child),
.team .item:not(:last-child) {
  margin-right: 30px;
}

.features__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--lighter-background-color);
  width: 270px;
  height: 120px;
}

.features__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}

.branches .title,
.team .title,
.clients .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.branches .item {
  position: relative;
}

.branch-text {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.team {
  background: var(--lighter-background-color);
}

.team .item {
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team .name {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team .description {
  text-align: center;
  margin-bottom: 16px;
}

.team .details {
  padding: 30px 32px;
}

.client-list-wrapper {
  display: flex;
  gap: 30px;
}

.client-wrapper {
  height: 92px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--greyish-background-color);
  border: 1px solid var(--greyish-background-color);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-cubic), color var(--transition-cubic);
}

.client-wrapper:hover,
.client-wrapper:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.inner-wrapper {
  width: 106px;
  height: 60px;
}

.portfolio .button {
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--lighter-background-color);
  padding: 6px 22px;
  transition: color var(--transition-cubic), background-color var(--transition-cubic),
    box-shadow var(--transition-cubic);
}

.portfolio .button:hover,
.portfolio .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio .name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.portfolio .type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects .item {
  width: calc((100% - 2 * 30px) / 3);
}

.projects .link {
  transition: box-shadow var(--transition-cubic);
}

.projects .link:hover,
.projects .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .link:hover .card-overlay,
.projects .link:focus .card-overlay {
  transform: translateY(0);
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-cubic);
}

.projects .item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.projects .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects .details {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px 19px;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}
