.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  &__list {
    display: flex;
    gap: 30px;
  }
  &__link {
    height: 92px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--greyish-background-color);
    border: 1px solid var(--greyish-background-color);
    border-radius: 4px;
    outline: none;
    transition: border-color var(--transition-cubic), color var(--transition-cubic);
    &:hover {
      color: var(--accent-color);
      border-color: var(--accent-color);
    }
  }
}
