.features {
  padding-top: 94px;
  padding-bottom: 94px;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--lighter-background-color);
    width: 270px;
    height: 120px;
  }
  &__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
  }
  &__item {
    width: calc((100% - 3 * 30px) / 4);
    &:not(:nth-of-type(4n + 4)) {
      margin-right: 30px;
    }
  }
}
