.header {
  border-bottom: 1px solid var(--line-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__icon {
  margin-right: 10px;
}

.header .link {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 31px;
}

.site-nav .link {
  color: var(--title-text-color);
  transition: color var(--transition-cubic);
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__link--active::after {
  content: '';
  bottom: -1px;
  left: -2px;
  width: calc(100% + 4px);
  height: 4px;
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 31px;
  text-decoration: none;
  outline: none;
  display: block;
  color: var(--title-text-color);
  transition: color var(--transition-cubic);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--active {
  color: var(--accent-color);
  position: relative;
}

.contacts-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.contacts-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav__link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;
  transition: color var(--transition-cubic);
}

.contacts-nav__link:focus,
.contacts-nav__link:hover {
  color: var(--accent-color);
}

.active.link,
.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}