.hero {
  text-align: center;
  background-color: var(--light-background-color);
  margin: 0 auto;
  max-width: 1600px;
}

.hero__container {
  display: block;
}

.hero-overlay__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  max-width: 690px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}

.hero .button,
.hero-form .button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.hero-overlay {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
  margin: 0 auto;
}