.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--lighter-background-color);
}

.team__people-list {
  display: flex;
  flex-wrap: wrap;
}

.team__people-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__people-item:not(:last-child) {
  margin-right: 30px;
}

.team__details {
  padding: 30px 32px;
}

.team__name {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team__description {
  text-align: center;
  margin-bottom: 16px;
}